/WebApplication_01_Khai_De/nbproject/private/
/WebApplication_01_Khai_De/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/Workshop_01/nbproject/private/
/Workshop_01/build/
/WebApplication_03_c/nbproject/private/
/WebApplication_03_c/build/
/WebApplication_04_b/nbproject/private/
/WebApplication_04_b/build/
/Workshop_01_Test/nbproject/private/
/Workshop_01_Test/build/
/Workshop_01_Test/dist/
/WebApplication_DBI/nbproject/private/
/WebApplication_DBI/build/
/WebApplication_DBI/dist/
/JSP_a/nbproject/private/
/JSP_a/build/
/JSP_b/nbproject/private/
/JSP_b/build/
/JSP_c/nbproject/private/
/JSP_c/build/
/JSP_c/dist/
/JSP_c_09/nbproject/private/
/JSP_c_09/build/
/JSP_c_09/dist/
/Workshop_no.1/nbproject/private/
/Workshop_no.1/build/
/Workshop_no.1/dist/
/BlackAlgorithm/nbproject/private/
/BlackAlgorithm/build/
/Workshop_no.1_TestCSS/nbproject/private/
/Workshop_no.1_TestCSS/build/
/Workshop_no.1_TestCSS/dist/
/Workshop_no.2/nbproject/private/
/Workshop_no.1_12/nbproject/private/
/Workshop_no.1_12/build/
/Workshop_no.1_12/dist/
/Workshop_no.2/build/
/Workshop_no.1_1_Test/nbproject/private/
/Workshop_no.1_1_Test/build/
/Workshop_no.1_1_Test/dist/