/* search.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    margin: 0;
}

.container {
    max-width: 1200px; /* Giới hạn chiều rộng để tạo sự gọn gàng */
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.search-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black; /* Viền đen */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 20px auto;
}

.search-form input[type="text"], .search-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.search-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black; /* Thêm viền đen dày hơn vào từng ô */
    border-collapse: collapse; /* Đảm bảo các viền không bị tách biệt */
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.no-access {
    text-align: center;
    margin-top: 50px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
